In [1]:
import numpy as np
import pandas as pd

# Load Dataset

In [2]:
# train["datetime"] -> read_csv 에서 parse_dates 옵션사용
train = pd.read_csv("data/train.csv",parse_dates=["datetime"])
#train["datetime"].dt.year/month/day/hour/minute/second -> 숫자로 출력됨!
print(train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
test = pd.read_csv("data/test.csv",parse_dates=["datetime"])
print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

# Train

In [17]:
feature_names = ["spring","summer","fall","winter","holiday","workingday","clear","cloudy","Lsnow","Hsnow","temp","atemp","humidity","windspeed","year","month","day","hour"]
feature_names

['spring',
 'summer',
 'fall',
 'winter',
 'holiday',
 'workingday',
 'clear',
 'cloudy',
 'Lsnow',
 'Hsnow',
 'temp',
 'atemp',
 'humidity',
 'windspeed_fill',
 'year',
 'month',
 'day',
 'hour']

In [33]:
X_train = train[feature_names]
print(X_train.shape)
X_train.head()

(10886, 18)

,spring,summer,fall,winter,holiday,workingday,clear,cloudy,Lsnow,Hsnow,temp,atemp,humidity,windspeed_fill,year,month,day,hour
0,True,False,False,False,0,0,True,False,False,False,9.84,14.395,81,3.544830,2011,1,1,0
1,True,False,False,False,0,0,True,False,False,False,9.02,13.635,80,3.938700,2011,1,1,1
2,True,False,False,False,0,0,True,False,False,False,9.02,13.635,80,4.376333,2011,1,1,2
3,True,False,False,False,0,0,True,False,False,False,9.84,14.395,75,4.862592,2011,1,1,3
4,True,False,False,False,0,0,True,False,False,False,9.84,14.395,75,5.402880,2011,1,1,4

In [34]:
X_test = test[feature_names]
print(X_test.shape)
X_test.head()

(6493, 18)

,spring,summer,fall,winter,holiday,workingday,clear,cloudy,Lsnow,Hsnow,temp,atemp,humidity,windspeed_fill,year,month,day,hour
0,True,False,False,False,0,1,True,False,False,False,10.66,11.365,56,26.002700,2011,1,20,0
1,True,False,False,False,0,1,True,False,False,False,10.66,13.635,56,8.911134,2011,1,20,1
2,True,False,False,False,0,1,True,False,False,False,10.66,13.635,56,9.901260,2011,1,20,2
3,True,False,False,False,0,1,True,False,False,False,10.66,12.880,56,11.001400,2011,1,20,3
4,True,False,False,False,0,1,True,False,False,False,10.66,12.880,56,11.001400,2011,1,20,4

In [18]:
lable_name = "count"

In [19]:
y_train = train[lable_name]
print(y_train.shape)
y_train.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

# Encode datetime

In [20]:
train["year"] = train["datetime"].dt.year
train["month"] = train["datetime"].dt.month
train["day"] = train["datetime"].dt.day
train["hour"] = train["datetime"].dt.hour
train["minute"] = train["datetime"].dt.minute
train["second"] = train["datetime"].dt.second

train[["datetime","year","month","day","hour","minute","second"]].head()

             datetime  year  month  day  hour  minute  second
0 2011-01-01 00:00:00  2011      1    1     0       0       0
1 2011-01-01 01:00:00  2011      1    1     1       0       0
2 2011-01-01 02:00:00  2011      1    1     2       0       0
3 2011-01-01 03:00:00  2011      1    1     3       0       0
4 2011-01-01 04:00:00  2011      1    1     4       0       0

In [21]:
test["year"] = test["datetime"].dt.year
test["month"] = test["datetime"].dt.month
test["day"] = test["datetime"].dt.day
test["hour"] = test["datetime"].dt.hour
test["minute"] = test["datetime"].dt.minute
test["second"] = test["datetime"].dt.second

test[["datetime","year","month","day","hour","minute","second"]].head()

             datetime  year  month  day  hour  minute  second
0 2011-01-20 00:00:00  2011      1   20     0       0       0
1 2011-01-20 01:00:00  2011      1   20     1       0       0
2 2011-01-20 02:00:00  2011      1   20     2       0       0
3 2011-01-20 03:00:00  2011      1   20     3       0       0
4 2011-01-20 04:00:00  2011      1   20     4       0       0

# Encode season

In [22]:
train["spring"] = train["season"] == 1
train["summer"] = train["season"] == 2
train["fall"] = train["season"] == 3
train["winter"] = train["season"] == 4

In [23]:
train[["season","spring","summer","fall","winter"]].head()

   season  spring  summer   fall  winter
0       1    True   False  False   False
1       1    True   False  False   False
2       1    True   False  False   False
3       1    True   False  False   False
4       1    True   False  False   False

In [24]:
test["spring"] = test["season"] == 1
test["summer"] = test["season"] == 2
test["fall"] = test["season"] == 3
test["winter"] = test["season"] == 4

test[["season","spring","summer","fall","winter"]].head()

   season  spring  summer   fall  winter
0       1    True   False  False   False
1       1    True   False  False   False
2       1    True   False  False   False
3       1    True   False  False   False
4       1    True   False  False   False

In [25]:
hol = train.loc[train["holiday"] == 1]
print(hol.shape)
hol = train.loc[train["workingday"] == 1]
print(hol.shape)

(311, 22)
(7412, 22)

# encode weather

In [26]:
train["clear"] = train["weather"] == 1
train["cloudy"] = train["weather"] == 2
train["Lsnow"] = train["weather"] == 3
train["Hsnow"] = train["weather"] == 4

train[["weather","clear","cloudy","Lsnow","Hsnow"]].head()

   weather  clear  cloudy  Lsnow  Hsnow
0        1   True   False  False  False
1        1   True   False  False  False
2        1   True   False  False  False
3        1   True   False  False  False
4        1   True   False  False  False

In [27]:
test["clear"] = test["weather"] == 1
test["cloudy"] = test["weather"] == 2
test["Lsnow"] = test["weather"] == 3
test["Hsnow"] = test["weather"] == 4

test[["weather","clear","cloudy","Lsnow","Hsnow"]].head()

   weather  clear  cloudy  Lsnow  Hsnow
0        1   True   False  False  False
1        1   True   False  False  False
2        1   True   False  False  False
3        1   True   False  False  False
4        1   True   False  False  False

# Encode windspeed

In [47]:
#train["Id"]  = range(10886)
#train.head()

In [46]:
#for i in range(1, train.shape[0]-1):
 #   mean = train.loc[i-1, "windspeed"] + train.loc[i, "windspeed"] + train.loc[i+1, "windspeed"]
  #  print (i, train.loc[i, "windspeed"], mean)

In [45]:
#train["windspeed_fill"] = train["windspeed"]

#for i in range(train.shape[0]):
 #   if train.loc[i, "windspeed_fill"] == 0.0:
  #      for j in range(i, train.shape[0]):
   #         if train.loc[j, "windspeed_fill"] != 0:
    #            train.loc[i, "windspeed_fill"] = train.loc[j, "windspeed_fill"] * 0.9 ** (j-i)
     #           break
                
#train[["windspeed", "windspeed_fill"]]

In [44]:
#test["windspeed_fill"] = test["windspeed"]

#for i in range(test.shape[0]):
    #if test.loc[i, "windspeed_fill"] == 0.0:
      #  for j in range(i, test.shape[0]):
         #   if test.loc[j, "windspeed_fill"] != 0:
           #     test.loc[i, "windspeed_fill"] = test.loc[j, "windspeed_fill"] * 0.9 ** (j-i)
            #    break
                
#test[["windspeed", "windspeed_fill"]]

In [ ]:
### Solution : wind
speed가 0이 아닌거 train해서 0인거 predict 
### casual predict + resident prdict

# Use Decision Tree

In [35]:
#Classifier : category (같으냐 다르냐) vs Regressor  : continuous (높고 낮음)
from sklearn.ensemble import RandomForestRegressor

In [36]:
model = RandomForestRegressor(random_state = 7)
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=7, verbose=0, warm_start=False)

# Evaluate

In [37]:
#Cross Validation 
from sklearn.model_selection import cross_val_score

In [38]:
scores = cross_val_score(model,X_train,y_train,cv=20,scoring="neg_mean_squared_log_error") #rsmle
scores = -1.0 * scores

scores = np.sqrt(scores)

score = scores.mean()
f"score = {score:.5f}"

'score = 0.39842'

In [39]:
#fit
model.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=7, verbose=0, warm_start=False)

In [40]:
predictions = model.predict(X_test)
print(predictions.shape)
predictions

(6493,)

array([ 15.7,   5.1,   9.7, ..., 126.5, 117.3,  57.9])

# Submit

In [41]:
submission = pd.read_csv("data/sampleSubmission.csv")

submission["count"] = predictions

print(submission.shape)
submission.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00   15.7
1  2011-01-20 01:00:00    5.1
2  2011-01-20 02:00:00    9.7
3  2011-01-20 03:00:00    3.0
4  2011-01-20 04:00:00    2.5

In [42]:
submission.to_csv("data/baseline-script.csv", index = False)